#local configuration file example
#rename it config_local.py and set your local configuration

import config

cfg=config.cfg

cfg.multipr=4
cfg.savefeat=False
cfg.savedir=""#"/state/partition1/marcopede/INRIA/hog/"

#cfg.dbpath = "/share/ISE/marcopede/database/" #database path
cfg.dbpath = "/home/databases/" #database path
cfg.maxpos=100 #maximum number of positive images
cfg.maxtest=100 #maximum number of test images
cfg.maxneg=100 #maximum number of negative images
cfg.maxexamples=1000 #maximum number of examples

cfg.deform=True
cfg.usemrf=True
cfg.usefather=True
cfg.bottomup=False
cfg.initr=1
cfg.ratio=1

#additional for pascal
cfg.lev=[3,3,3]
cfg.numcl=2
cfg.numneginpos=6/cfg.numcl #reduce the number of negatives
cfg.svmc=0.005#0.002#0.004
cfg.cls="bicycle"
cfg.year="2007"
cfg.thr=-2      #threshold positives
cfg.mythr=-10   #threshold cascade

cfg.comment    ="Nothing to say"
#cfg.testname="./data/11_02_28/iria_full" #location of the current test
#cfg.testname="./data/11_03_02/%s_%d_test"%(cfg.cls,cfg.numcl)
cfg.testpath="./data/11_03_10/"
cfg.testspec="hres"

cfg.debug = True #debug mode

if cfg.debug:
    cfg.show=True
    cfg.multipr=False#2
    cfg.maxpos=10#120
    cfg.maxtest=10#100
    cfg.maxneg=10#120
    cfg.description="DEBUG"
    #cfg.testname=cfg.testname+"_debug"

