#local configuration file example
#rename it config_local.py and set your local configuration

import config

cfg=config.cfg

cfg.multipr=5
cfg.savefeat=False
cfg.loadfeat=False
cfg.savedir="Nothing"#"/state/partition1/marcopede/INRIA/hog/"

#cfg.dbpath = "/state/partition1/marcopede/"#"/share/ISE/marcopede/database/" #database path
cfg.dbpath = "/share/ISE/marcopede/database/" #database path
#cfg.dbpath = "/home/databases/" #database path
cfg.maxpos=2000 #maximum number of positive images
cfg.maxtest=2000 #maximum number of test images
cfg.maxneg=200 #maximum number of negative images
cfg.maxexamples=20000 #maximum number of examples

cfg.deform=True
cfg.usemrf=True
cfg.usefather=True#True
cfg.bottomup=False
cfg.initr=1
cfg.ratio=1

#additional for pascal
cfg.lev=[3,3,3]
cfg.numcl=2
cfg.numneginpos=0#6/cfg.numcl #reduce the number of negatives
cfg.svmc=0.005#0.005#0.002#0.004
cfg.cls="bicycle"
cfg.year="2007"
cfg.thr=-3      #threshold positives
cfg.mythr=-10   #threshold cascade
cfg.posovr=0.65#0.5#0.65#0.65 
cfg.posit=8
cfg.negit=10
cfg.useprior=False
cfg.perc=0.10
cfg.k=0.3
cfg.small=False
cfg.dense=0
cfg.ovrasp=0.3
cfg.sortneg=True
cfg.bestovr=False
cfg.kmeans=True
cfg.useRL=True

cfg.comment    ="nothing"
#cfg.testname="./data/11_02_28/iria_full" #location of the current test
#cfg.testname="./data/11_03_11/%s_%d_2levnodef"%(cfg.cls,cfg.numcl)
cfg.testpath="./data/finalRL/"
cfg.testspec="test"

cfg.debug = False#debug mode

if cfg.debug:
    cfg.show=True
    cfg.multipr=8#2
    cfg.maxpos=10#120
    cfg.maxtest=10#100
    cfg.maxneg=10#120
    cfg.description="DEBUG"
    #cfg.testname=cfg.testname+"_debug"

